  * {
    /*background-color: #051310;*/
    margin: 0;
    padding: 0;
  }

  /* body{
  background-color: teal;
} */

  .container {
    display: flex;

    /*width: 100%;*/
    /*height: 100vh;*/

    background-color: #051310;
    /*text-align: center;*/

    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 100px 0 50px 0;
    width: 50%;
    /*background-color: #ddd;*/
  }

  .card-bio {
    position: relative;

    display: flex;

    padding: 3rem 3rem 8rem 3rem;

    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #45a564;
    z-index: 1;
  }

  .img-profile {
    width: 9rem;
    margin-right: 3rem;
  }

  .img-profile img {
    width: 90%;
    height: 90%;

    border-radius: 50%;

    object-fit: cover;
  }

  .person-info {
    width: 50%;

    color: #fff;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  }

  .person-info h3 {
    font-size: 2.5rem;
    font-weight: 500;

    margin-bottom: 1rem;

    letter-spacing: 0.1rem;
  }

  .card-btn {
    font-family: "Dosis", serif;
    font-size: 2.4rem;

    position: absolute;
    right: 10rem;
    bottom: -2.5rem;

    width: 20rem;
    height: 6rem;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 5rem;
    outline: none;
    background-color: #2b303a;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
  }

  .card-btn-contact {
    transition: all 0.5s 0.1s;
  }

  .change .card-btn {
    width: 6rem;
    right: 3rem;
    bottom: -3rem;
    border-radius: 50%;
  }

  .card-btn-contact,
  .card-btn i {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .change .card-btn-contact {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
  }

  .card-btn i {
    opacity: 0;
    visibility: hidden;
  }

  .change .card-btn i {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }

  .card-contact {
    padding: 1.5rem 2rem;

    color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #2d814d;
    transform: translateY(-100%);
    transition: all 0.5s;
  }

  .change .card-contact {
    transform: translateY(0);
  }

  .card-contact h4 {
    font-family: "Dosis", serif;
    font-size: 1.8rem;
    font-weight: 500;

    letter-spacing: 0.1rem;
    text-transform: uppercase;

    text-shadow: 0 0.2rem rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transform-origin: left;
    transition: all 0.5s;
  }

  .change .card-contact h4 {
    transform: scale(1);
  }

  .card-social {
    display: flex;

    margin: 2rem 0;
    padding: 1.5rem;

    cursor: pointer;

    border-radius: 0.3rem;
    background-color: #fff;

    align-items: center;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }

  .email {
    transition: all 0.5s 0.3s;
  }

  .fb {
    transition: all 0.5s 0.5s;
  }

  .linkedin {
    transition: all 0.5s 0.7s;
  }

  .change .card-social {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .icon-wrapper {
    display: flex;

    width: 4rem;
    height: 4rem;
    margin-right: 2rem;

    border-radius: 50%;

    justify-content: center;
    align-items: center;
  }

  .email .icon-wrapper {
    background-color: #dd4b39;
  }

  .fb .icon-wrapper {
    background-color: #3b5998;
  }

  .linkedin .icon-wrapper {
    background-color: #007bb6;
  }

  .icon-wrapper i {
    font-size: 2rem;

    color: #fff;
  }

  .contact-details h4 {
    font-family: "Dosis", serif;
    font-size: 1.6rem;

    margin-bottom: 0.5rem;

    letter-spacing: 0.1rem;
  }

  .email h4 {
    color: #dd4b39;
  }

  .fb h4 {
    color: #3b5998;
  }

  .linkedin h4 {
    color: #007bb6;
  }

  .contact-details p {
    font-family: "Dosis", serif;
    font-size: 1.4rem;

    letter-spacing: 0.1rem;

    color: #444;
  }

  .card-social span {
    font-size: 2rem;
    font-weight: bold;

    margin-left: auto;

    color: #999;
  }
